body {
    width: 100wh;
    height: 100vh;
    color: #fff;
    font-size: 24pt;
    background: linear-gradient(0deg,#ce736f,#fdb2d7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Didot', serif;
}

strong {
    color:#52253d;
}

nav {
    position: fixed;
    top: 0;
}

nav ul{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    position: relative;
    display: block;
}

header {
    text-align: center;
}


.sec-div {
    margin: 12em 0em 12em 0em;
    text-align: center;
}

#wrap {
    margin: auto;
    width: 40%;
    text-align: center;
}

#scroll {
    font-size: 3em;
    font-family: "Didot", serif;
    margin: 3em 0em 0em 0em;
}