body{
    width: 100wh;
    height: 100vh;
    color: #fff;
    font-size: 24pt;
    background: linear-gradient(0deg,red,yellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
}